{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <!-- Font Rawline-->
        <link
            rel="stylesheet"
            href="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css"
        />
        <!-- Font Raleway-->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&amp;display=swap"
        />
        <!-- Design System GOV.BR CSS-->
        <link
            rel="stylesheet"
            href="{% static 'node_modules/@govbr-ds/core/dist/core.min.css' %}"
        />
        <!-- Fontawesome-->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        />
        <title>PG-MCOM Programa de Gestão</title>
    </head>

    <body>
        <!-- Conteúdo-->


        <!-- Header-->
        <header class="br-header compact">
          <div class="container-lg">
            <div class="header-top">
              <div class="header-logo">
                <img src="https://www.gov.br/ds/assets/img/govbr-logo.png" alt="logo">
                <span class="br-divider vertical mx-half mx-sm-1"></span>
                <div class="header-sign">Assinatura</div>
              </div>
              <div class="header-actions">
                <div class="header-links dropdown">
                  <button class="br-button circle small" type="button" data-toggle="dropdown" aria-label="Abrir Acesso Rápido">
                    <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                  </button>
                  <div class="br-list">
                    <div class="header">
                      <div class="title">Acesso Rápido</div>
                    </div>
                    <a class="br-item" href="javascript:void(0)">Órgãos do Governo</a>
                    <a class="br-item" href="javascript:void(0)">Acesso à Informação</a>
                    <a class="br-item" href="javascript:void(0)">Legislação</a>
                    <a class="br-item" href="javascript:void(0)">Acessibilidade</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="header-bottom">
              <div class="header-menu">
                <div class="header-menu-trigger">
                  <button class="br-button small circle" type="button" aria-label="Menu" data-toggle="menu" data-target="#main-navigation" id="menu-compact">
                    <i class="fas fa-bars" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="header-info">
                  <div class="header-title">Programa de Gestão</div>
                  <div class="header-subtitle">Ministério das Comunicações</div>
                </div>
              </div>
            </div>
          </div>
        </header>

        <!-- Menu-->
        <div class="br-menu" id="main-navigation">
          <div class="menu-container">
            <div class="menu-panel">
              <div class="menu-header">
                <div class="menu-title">
                  <span>Sistema de Ouvidoria Pública</span>
                </div>
                <div class="menu-close">
                  <button class="br-button circle" type="button" aria-label="Fechar o menu" data-dismiss="menu">
                    <i class="fas fa-times" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <nav class="menu-body">
                <a class="menu-item divider" href="cadastro.html">
                  <span class="content">Cadastro</span>
                </a>
              </nav>
              <div class="menu-footer">
                <div class="menu-links">
                  <a href="javascript: void(0)">
                    <span class="mr-1">Órgãos do Governo</span>
                    <i class="fas fa-external-link-square-alt" aria-hidden="true"></i>
                  </a>
                  <a href="javascript: void(0)">
                    <span class="mr-1">Acesso à Informação</span>
                    <i class="fas fa-external-link-square-alt" aria-hidden="true"></i>
                  </a>
                  <a href="javascript: void(0)">
                    <span class="mr-1">Legislação</span>
                    <i class="fas fa-external-link-square-alt" aria-hidden="true"></i>
                  </a>
                  <a href="javascript: void(0)">
                    <span class="mr-1">Acessibilidade</span>
                    <i class="fas fa-external-link-square-alt" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="menu-scrim" data-dismiss="menu" tabindex="0"></div>
          </div>
        </div>


  

        <!-- Scripts de componentes -->
        <script src="{% static 'node_modules/@govbr-ds/core/dist/core.min.js' %}"></script>
        <script >
            // Instanciar Header
            const brHeader = document.querySelector('.br-header')
            new core.BRHeader('br-header', brHeader)

            // Instanciar Menu
            const brMenu = document.querySelector('.br-menu')
            new core.BRMenu('br-menu', brMenu)
        </script>
    </body>
</html>
